.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    font-size: 64px;
}
.amount {
    margin-top: 24px;
    font-size: 32px;
}