.container {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/5)-16px);
    gap: 128px;
    overflow: hidden;
}

.card {
    width: 220px;
    height: 100px;
    border-radius: 8px;
    background-color: #a7a7a7;
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}